b {
  background-color: white;
}
.morado {
  background-color: blueviolet;
}
.sombras {
}
video {
  width: 500px;
  height: 500px;
}
button {
  background-color: white;
}
.shadow-box {
  width: 200px;
  height: 200px;
  background-color: rgba(128, 0, 128, 0.824);
  /* Propiedad box-shadow para agregar la sombra de caja negra */
  box-shadow: 500px 0px 20px 0px black;
  margin: 0px auto;
}
